# .env.example
# MySQL configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=lsrw_db
MYSQL_USER=root
MYSQL_PASSWORD=Aathikgs@003

# JWT secret
JWT_SECRET=your_jwt_secret

# Server port
PORT=5000
